{% extends 'admin/master.html' %}



{% block body %}

{{ super() }}
<div class="row-fluid">
    <h1>CGS | Okta Blog - Admin</h1>
    <p class="lead">
        Updated soon...
    </p>
    <p>
        This is the home page for admin side, from here you can see all the DataBase for Users\Post\Comments.
    </p>
    <p>
        Click on the button to go back to end-user dashboard.
    </p>
    <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back</a>
</div>


{% endblock body %}
    
